<div class="container">
  <div class="title-section">
    <h1 class="title-section--title">管理画面</h1>
  </div>
  <div class="mdl-grid grid-narrow">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="box">
        <a href="/admin/books">書籍一覧をみる</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="box">
        <a href="/admin/users">ユーザー一覧を見る</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="box">
        <a href="/admin/books/new">書籍を追加する</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="box">
        <a href="/admin/users/new">ユーザーを追加する</a>
      </div>
    </div>
  </div>
</div>
