.form--table {
    padding: 8px 16px;
    margin-bottom: 32px;
    .form--cell {
        padding: 8px 0;
        .form--cell--alert {
            display: block;
            font-size: 0.8rem;
            color: #BF0000;
        }
    }
    .form--label {
        font-size: 0.9rem;
        opacity: 0.7;
        min-width: 100px;
        display: inline-block;
        font-weight: bold;
    }
    .form--submit {
      width: 100%;
    }

    &.mini {
      .form--cell {
        padding: 1px;
      }
      .mdl-textfield {
        padding: 0;
      }
      .mdl-textfield__label {
        top: 0;
        &::after {
          bottom: 0;
        }
      }
    }
}
