<div class="modal book-show">
  <div class="modal--title">本をみる</div>
  <div class="modal--body">
    <div class="book-info mdl-grid">
      <div class="mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-phone">
        <img v-bind:src="book.image" alt="" class="book-info--img">
      </div>
      <div class="mdl-cell--7-col mdl-cell--5-col-tablet mdl-cell--4-phone">
        <div class="book-info--title">{{book.title}}</div>
        <div class="book-info--text">{{book.author}}</div>
        <div class="book-info--text">{{book.category}}</div>
        <div class="book-info--text">{{book.publisher}}</div>
        <div class="book-info--text">{{book.published_at}}</div>
        <div class="book-info--text"><a v-bind:href="book.url" target="_blank">go to amazon</a></div>
      </div>
    </div>
    <div class="book-comments">
      <div class="book-comment" v-for="c in comments">
        <div class="book-comment--body">{{c.body}}</div>
        <div class="book-comment--meta">{{c.user}}</div>
      </div>
    </div>
  </div>
</div>
