<book-rental-box inline-template>
  <div class="modal book-borrow" v-show="showRentalBox">
    <div class="modal--title">
      本を借りる
      <span class="close-modal" v-on:click="toggleModal">
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">close</i>
        </button>
      </span>
    </div>
    <div class="modal--body">
      <div class="book-info mdl-grid">
        <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-phone">
          <img v-bind:src="book.image" alt="" class="book-info--img">
        </div>
        <div class="mdl-cell mdl-cell--7-col mdl-cell--5-col-tablet mdl-cell--4-phone">
          <div class="book-info--title">{{book.title}}</div>
          <div class="book-info--text">{{book.author}}</div>
          <div class="book-info--text">{{book.category}}</div>
        </div>
      </div>
    </div>
    <div class="modal--footer mdl-grid">
      <button class="book-button book-button--cancel">
        <i class="material-icons">close</i>
        <span class="button-label">閉じる</span>
      </button>
      <button class="book-button book-button--ok book-button--colored">
        <i class="material-icons">done</i>
        <span class="button-label">借りる</span>
      </button>
    </div>
  </div>
</book-rental-box>
