<div class="modal book-comment" style="display:none">
  <div class="modal--title">コメントを残す</div>
  <div class="modal--body">
    <div class="book-info mdl-grid">
      <div class="mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-phone">
        <img src="https://thumbsplus.tutsplus.com/uploads/users/30/posts/24633/preview_image/mdl-cards.png?height=300&amp;width=300" alt="" class="book-info--img">
      </div>
      <div class="mdl-cell--7-col mdl-cell--5-col-tablet mdl-cell--4-phone">
        <div class="book-info--title">書籍名書籍名書籍名書籍名書籍名書籍名書籍名書籍名</div>
        <div class="book-info--author">田中 太郎</div>
        <div class="book-info--category">PC, ビジネス</div>
      </div>
    </div>
    <div class="book-info">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
          <label class="mdl-textfield__label" for="sample5">最高にcool</label>
        </div>
        <div>
          <ul class="book-info--tags">
            <li class="tag">ruby</li>
            <li class="tag">エクセルの次の本</li>
            <li class="tag">エクセルの次の本</li>
            <li class="tag">エクセルの次の本</li>
          </ul>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div>
        <ul class="book-suggest-list">
          <li>ruby</li>
          <li>エクセルの次の本</li>
          <li>エクセルの次の本</li>
          <li>エクセルの次の本</li>
        </ul>
      </form>
    </div>
    <div class="book-actions">
      <button type="button" name="button" class="mdl-button">ok</button>
      <button type="button" name="button" class="mdl-button">skip</button>
    </div>
  </div>
</div>
