<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>id</th>
      <th>書籍名</th>
      <th>著者</th>
      <th>カテゴリー</th>
      <th>直近のコメント</th>
      <th>貸出状況</th>
      <th>ストックする</th>
      <th>借りる</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td>書籍名</td>
      <td>著者</td>
      <td>カテゴリー</td>
      <td>直近のコメント</td>
      <td>貸出状況</td>
      <td>
        <button class="mdl-button mdl-js-button">
          ストックする
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--colored">
          借りる
        </button>
      </td>
    </tr>
    <tr>
      <td>id</td>
      <td>書籍名</td>
      <td>著者</td>
      <td>カテゴリー</td>
      <td>直近のコメント</td>
      <td>貸出状況</td>
      <td>
        <button class="mdl-button mdl-js-button">
          ストックする
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--colored">
          借りる
        </button>
      </td>
    </tr>
    <tr>
      <td>id</td>
      <td>書籍名</td>
      <td>著者</td>
      <td>カテゴリー</td>
      <td>直近のコメント</td>
      <td>貸出状況</td>
      <td>
        <button class="mdl-button mdl-js-button">
          ストックする
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--colored">
          借りる
        </button>
      </td>
    </tr>
  </tbody>
</table>
