<div class="list comment-history">
  <div class="mdl-grid list-header mdl-cell--hide-tablet mdl-cell--hide-phone">
    <div class="mdl-cell mdl-cell--2-col">コメント日</div>
    <div class="mdl-cell mdl-cell--4-col">タイトル</div>
    <div class="mdl-cell mdl-cell--6-col">コメント</div>
  </div>
  <div class="list-body">
    <% @my_comments.each do |c| %>
      <div class="list-item mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <span class="list-item--label mdl-cell--hide-desktop">コメント日</span>
          <span class="list-item--text"><%= c.created_at.strftime("%Y.%m.%d") %></span>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <span class="list-item--label mdl-cell--hide-desktop">タイトル</span>
          <span class="list-item--text"><%= c.book.title %>}</span>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <span class="list-item--label mdl-cell--hide-desktop">コメント</span>
          <span class="list-item--text"><%= c.body %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
