/*
layout
layoutに関わるパーツを記述
*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

.panel {
  padding: 0px 16px 8px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  margin-bottom: 16px;
  .panel--title {
    font-size: 1rem;
    margin: 0px -17px;
    border-bottom: 1px solid #E4E4E4;
    padding: 0 16px;
    line-height: 2.6rem;
    font-weight: bold;
    opacity: 0.7;
  }
}

.list {
  border: 1px solid #E4E4E4;
  .list-header {
      font-size: 0.8rem;
      font-weight: bold;
      opacity: 0.5;
      border-bottom: 1px solid #E4E4E4;
  }
  .list-item {
      border-bottom: 1px solid #E4E4E4;
  }

  .list-item--label {
      font-size: 0.8rem;
      font-weight: bold;
      opacity: 0.5;
      margin-right: 4px;
      width: 48px;
      display: inline-block;
  }
  .list-item--text {height: 100%;}

}
