// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages{
  .search-box {
    padding: 16px 32px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    margin-bottom: 32px;
  }
  .search-box--key .mdl-textfield{
    width: 100%;
  }
  .search-box--tags ul {
      padding-left: 0;
  }
  .search-box--submit .mdl-button {
    width: 100%;
    margin-top: 32px;
  }
}
