body.pages{
  .search-box {
    padding: 16px 32px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    margin-bottom: 32px;
    .search-box--key .mdl-textfield{
      width: 100%;
    }
    .search-box--tags ul {
        padding-left: 0;
    }
    .search-box--submit .mdl-button {
      width: 100%;
      // margin-top: 32px;
    }
  }


  .list {
    .list-body > div {
      font-size: 0.9rem;
    }
    .book-actions {
      display: flex;
      justify-content: space-around;
      max-width: 200px;
      margin: 0 auto;
      i.material-icons {
        font-size: 1.6rem;
      }
    }
  }
  .read-more {
    width: 100%;
    margin: 16px 0;
  }


  .right-side {
    .new-book, .borrowing-book {
      margin: 0;
    }
    .new-book .mdl-list__item,
    .borrowing-book .mdl-list__item {
        padding: 0;
        margin: 0;
        .mdl-list__item-sub-title {
          font-size: 0.8rem;
          line-height: 1rem;
        }
    }
    .mdl-list__item-primary-content {
        font-size: 1rem;
    }
    .mdl-list__item-secondary-content.two-buttons {
        display: inline-block;
        min-width: 70px;
    }
  }

  .book-borrow,
  .book-return,
  .book-comment,
  .book-show {
    .book-info {
      padding: 0;
      margin-right: -8px;
      margin-left: -8px;
      .book-info--img {
        max-width: 100%;
        max-height: 200px;
        margin: 0 auto;
        display: block;
      }
      .book-info--title {
          font-weight: bold;
          font-size: 1.2rem;
      }
      .book-info--text {
          font-size: 0.9rem;
          opacity: 0.8;
      }
      .mdl-textfield {
          width: 100%;
      }
    }
    .book-info--tags {
        padding-left: 0;
    }
    .book-button {
      background-color: #fff;
      border: none;
      box-sizing: border-box;
      outline: none;
      transition: opacity 0.3s;
      height: 52px;
      &:hover {
          cursor: pointer;
          opacity: 0.6;
          transition: opacity 0.3s;
      }
      .material-icons {
        font-size: 1.7rem;
        display: block;
        margin-top: -6px;
        margin-bottom: 10px;
      }
      .button-label {
          display: block;
          font-size: 0.7rem;
          line-height: 0px;
      }
      &.book-button--comment {
          width: 25%;
          border-radius: 0 0 0 3px;
      }
      &.book-button--stock {
          width: 25%;
      }
      &.book-button--borrow {
        width: 50%;
        border-radius: 0 0 3px 0;
      }
      &.book-button--cancel {
          width: calc(100% / 3);
          border-radius: 0 0 0 3px;
      }

      &.book-button--ok {
          width: calc( 100% * 2 / 3);
          border-radius: 0 0 3px 0;
      }
      &.book-button--colored {
        background-color: #4452BA;
        color: #fff;
        &:hover {
            opacity: 0.8;
            transition: opacity 0.3s;
        }
      }
      &[disabled] {
          background-color: #B1B1B1 !important;
          &:hover {
              cursor: auto !important;
              opacity: 1 !important;
          }
      }
    }

  }

  .book-show {
    .book-comments {
      margin: 16px 0 0 0;
      padding: 0;
      .mdl-list__item-avatar {
          width: 30px;
          height: 30px;
          font-size: 2rem;
          text-align: center;
      }
      .mdl-list__item-primary-content,
      .mdl-list__item-text-body,
      .mdl-list__item {
          height: initial !important;
      }
      .mdl-list__item {
          padding: 0;
          margin-bottom: 16px;
      }
      .mdl-list__item-text-body {
          margin-left: 46px;
          background-color: rgba(212, 212, 212, 0.4);
          padding: 4px 6px !important;
          border-radius: 3px;
      }
    }
    &.modal .modal--body {
      height: calc(100% - 43px - 52px) !important;
    }
    .modal--footer {
      padding: 0;
    }
  }

  .book-comment {
    .book-info--title {
        font-size: 1rem !important;
    }
    .tag-input {
        padding: 0;
        margin-bottom: 5px;
        .mdl-textfield__label {
            top: 4px;
            &::after {
                bottom: 0;
            }
        }
    }
    .comment-input {
        padding: 0;
        margin-top: 16px;
        .mdl-textfield__label {
          top: inherit;
          ::after {
              bottom: 0 !important;
          }
        }
    }
    .book-suggest-list {
        margin: -5px 0 0 0;
        padding: 0;
        display: block;
        & > li {
            display: block;
            border-bottom: 1px solid #fff;
            background-color: #EFEFEF;
            padding: 2px 8px;
        }
    }
  }
}



body.pages.mypage{
  .comment-history,
  .book-history {
    margin-bottom: 32px;
  }
  .due-tag {
    display: inline-block;
    margin-left: 8px;
    &.before-due {
      opacity: 0.6;
    }
    &.on-the-due {
      font-weight: bold;
    }
    &.after-due {
      color: #CD3030;
      font-weight: bold;
    }
  }
}
