// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages{
  .search-box {
    padding: 16px 32px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    margin-bottom: 32px;
    .search-box--key .mdl-textfield{
      width: 100%;
    }
    .search-box--tags ul {
        padding-left: 0;
    }
    .search-box--submit .mdl-button {
      width: 100%;
      // margin-top: 32px;
    }
  }
  .list {
    .book-author, .book-category {
      font-size: 0.8rem;
    }
    .book-title, .book-author, .book-category {
        padding: 5px;
        box-sizing: border-box;
    }
    .book-actions {
      display: flex;
      justify-content: space-around;
      max-width: 200px;
      margin: 0 auto;
      i.material-icons {
        font-size: 1.6rem;
      }
    }
  }


  .right-side {
    .new-book, .borrowing-book {
      margin: 0;
    }
    .new-book .mdl-list__item,
    .borrowing-book .mdl-list__item {
        padding: 0;
        margin: 0;
        height: 52px;
        .mdl-list__item-sub-title {
          font-size: 0.8rem;
          line-height: 1rem;
        }
    }
  }

  .book-borrow,
  .book-return,
  .book-comment,
  .book-show {
    .book-info {
      .book-info--img {
          width: 100%;
      }
      .book-info--title {
          font-weight: bold;
          margin: 0 0 10px 16px;
          font-size: 1.2rem;
      }

      .book-info--text {
          margin: 0 0 0px 16px;
          font-size: 0.9rem;
          opacity: 0.8;
      }
      .mdl-textfield {
          width: 100%;
      }
    }
    .book-comment {
        background-color: rgba(152, 218, 228, 0.42);
        padding: 8px;
        border-radius: 3px;
        word-wrap: break-word;
        margin-bottom: 8px;
        position: relative;
        &::before {
          content: "";
          display: block;
          border: 9px solid transparent;
          border-right: 5px solid rgba(152, 218, 228, 0.42);
          position: absolute;
          top: 2px;
          left: -14px;
          height: 0;
        }
        .book-comment--meta {
            text-align: right;
            font-size: 0.8rem;
            opacity: 0.6;
        }
        .book-suggest-list {
            padding: 0;
            margin: 0;
            li {
              display: block;
              line-height: 2rem;
              border: 1px solid #DBDBDB;
              padding: 4px 8px;
              background-color: #fff;
            }
        }
        .mdl-textfield {
            padding-bottom: 0;
        }
        .mdl-textfield__label {
            bottom: -20px;
        }
    }
    .book-actions {
        justify-content: space-around;
        display: flex;
    }
    .book-info--tags {
        padding-left: 0;
    }
  }



}
