<div class="container">
  <div class="title-section">
    <h1 class="title-section--title">書籍一覧</h1>
    <%= link_to new_admin_user_path, class: "title-section--link" do %>
         <i class="material-icons">add_circle_outline</i>ユーザーを追加する
    <% end %>
  </div>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <%= render partial:'user_list', locals:{users: @users} %>
  </div>
</div>
